<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.sms.dao.ClazzDao">
  <select id="selectAll" resultType="com.briup.apps.sms.bean.Clazz">
    select * from sms_clazz
  </select>
  
  <insert id="insert">
   insert into sms_clazz values(null,#{name},#{begin_time},#{college_id});
  </insert>
  
  <update id="update">
  update sms_clazz
  set name=#{name},begin_time={begin_time},college_id=#{college_id}
  where id = #{id}
   </update>
   
 <delete id="delectById">
 delete from sms_clazz where id = #{id}
 
 </delete>
 
</mapper>
