<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.sms.dao.CollegeDao">
  <select id="selectAll" resultType="com.briup.apps.sms.bean.College">
    select * from sms_college
  </select>
  <insert id="insert">
  insert into sms_college values(null,#{id},#{name},#{description},#{shool_id})
 
  </insert>
  <update id="update">
  update sms_college 
  set name=#{id},
  name=#{name},
  description=#{ description},
  school_id=#{school_id},
  
  </update>
  <delete id="deleteById">
  delete from sms_college where id = #{id}
  </delete>
  
</mapper>
