<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.sms.dao.UserDao">
  <select id="selectAll" resultType="com.briup.apps.sms.bean.User">
    select * from sms_user
  </select>
  
  
  
  <insert id="insert">
  insert into sms_user values(null,#{realname},#{telephone},#{passward},#{student_no},#{gender},#{clazz_id});
  </insert>
  
  <update id="update">
  update sms_user
  set realname=#{renalname},
  descripation=#{description},
  set telphone=#{telphone},
  descripation=#{description},
   set passsward=#{passward},
  descripation=#{description}, 
  set student_no=#{student_no},
  descripation=#{description}, 
  set gender=#{gender},
  descripation=#{description}, 
  set lazz_id=#{lazz_id},
  descripation=#{description},
  tel=#{tel},
  adderss=#{address}
  where id = #{id}
  </update>
  
  <delete id="deeleteById">
  
  delete from sms_user where id = #{id}
  </delete>
  
</mapper>
